<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
	<style>
		body{
		font-family: arial; 
		font-size: 11pt; 
	}
	</style>
</head>

<body>
	
	<table width="70%" align="center" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #D5D5D5;">
  <tbody>
    <tr>
      <td align="center" bgcolor="#efb40b" style="color:#FFFFFF;"><h2>การวัดแรงดัน Pressure measurement</h2>www.gotautomations.com/News<br><br></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td align="center" valign="top" style="font-size: 11pt; color: #666666; padding-left: 25px;">
          <img src="http://www.gotautomations.com/uploadfile/news/91f19c32dfc6e5fa6d5dd331f55c47e3.jpg" align="center" width="500"  style="margin-top: -55px; padding-left: 15px;">
    </tr>
    <tr>
      <td align="left" valign="top" style="font-size: 11pt; color: #666666; line-height: 25px; padding-left: 25px;">
		  <p>การวัดแรงดัน (pressure measurement) เป็นการวัดค่าอัตราส่วนระหว่างขนาดของแรง (F) ที่กระทำในทิศทางตั้งฉากกับพื้นที่ (A) ใด ๆ โดยความดัน (pressure) มีหน่วยเป็นนิวตันต่อตารางเมตร (N/m2) หรือ ปาสคัล (Pa) การเลือกใช้เครื่องมือวัดความดันควรคำนึงถึง 1) ย่านความดัน (range) 2) ชนิดหรือรูปแบบของแรงดันแบ่งออกเป็น 4 ชนิด ดังนี้ ความดันสัมบูรณ์ (absolute pressure) ความดันเกจ (gauge pressure) ความดันแตกต่างหรือความดันดิฟเฟอเรนเชียล (differential pressure) 
                      
    </tr>
   <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td align="center"><a href="http://www.gotautomations.com/News/news_detail/10" style="padding:20px;background-color:#0179bf;color:white; text-decoration: none;">คลิก อ่านต่อ...</a></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td align="center" >
      <div style="padding:10px;background-color:#eaeaea;">
      <p><img src="http://www.gotautomations.com/HTML_2/images/logo-dark.png" alt="logo" /><br>
        <strong>Great Oriental Trading Co.,Ltd.</strong><br>
        <br>
        1049 Ruamtam Rd., T.Khohong Hatyai Songkhla 90110 Thailand
        <br>
      </p>
</div>
</td>
    </tr>
     <tr>
        <td>
            <table width="100%" align="center" cellspacing="0" cellpadding="0" >
                <tr>
                  <td width="9%">&nbsp;</td>
                    <td width="4%">
                         <img src="http://www.gotautomations.com/HTML_2/images/phonegold.png"  width="40" /> 
                    </td>
                    <td width="17%"><strong>Tel:</strong> +66 74-300212-4 <br>
                    <strong>Fax:</strong> +66 74-300215</td>
                    <td width="4%"><img src="http://www.gotautomations.com/HTML_2/images/mail.png"  width="40" /></td>
                    <td width="18%"><br>
                      <strong>Email Address</strong><br>
						<a href="mailto:saleteam1@gotrading.co.th" target="_blank">saleteam1@gotrading.co.th</a></td>
                    <td width="4%" align="center"><img src="../../../HTML_2/images/facebook-logo.png"  width="32" /></td>
                    <td width="18%"><strong>Facebook</strong><br>
                    <a href="https://www.facebook.com/GreatOrientalTrading/" target="_blank">GreatOrientalTrading</a></td>
                    <td width="4%">
                         <img src="http://www.gotautomations.com/HTML_2/images/chat1.png"  width="40" /> 
                    </td>
                    <td width="7%">I<strong>D Line</strong><br>
                    <a href="http://line.me/ti/p/@gotrading" target="_blank">@gotrading</a> </td>
                    <td width="15%"><img src="../../../HTML_2/images/lineatgotrading.jpg"  width="101" /></td>
                </tr>
            </table>
    </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    
  </tbody>
</table>

</body>
</html>